PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/icaebms
JWT_SECRET=supersecretjwtkey2026icaebms
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:5173

# Email config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=noreply@icaebms2026.com
FROM_NAME="ICAEBMS 2026"
